
.logo {
   position:                 fixed;
}

.logo div {
   position:                 absolute;
   top:                      -40px;
   text-align:               center;
   width:                    100%;
   font-family:              Calibri;
   font-size:                200%;
   color:                    #00AEDA;
}

.logo img {
   top:                      0;
   left:                     0;
   outline:                  none;
   border:                   0;
}

.safezoneline{
   stroke:                   #ffffff;
   stroke-width:             2px;
}

.mote{
   r:                        100px;
   stroke:                   #000000;
   stroke-width:             2px;
   fill:                     #ff0000;
}